<!DOCTYPE html>
<html ng-app="SmartMirror">
  <head>
    <title>Smart Mirror</title>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    
    <!-- App -->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/weather-service.js"></script>
    <script src="js/complement-service.js"></script>
    <script src="js/controller.js"></script>
    <script type="text/javascript">

      var CLIENT_ID = '399836225200-n6mn1qg3ruoj2g4rth2mtva2asli84bt.apps.googleusercontent.com';
      var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       */
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
          loadCalendarApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          authorizeDiv.style.display = 'inline';
        }
      }

      /**
       * Initiate auth flow in response to user clicking authorize button.
       */
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }

      /**
       * Load Google Calendar client library. List upcoming events
       * once client library is loaded.
       */
      function loadCalendarApi() {
        var tickTest = setInterval(listUpcomingEvents, 60 * 1000);
        gapi.client.load('calendar', 'v3', listUpcomingEvents);
      }

      /**
       * Print the summary and start datetime/date of the next 48h events
       */
      function listUpcomingEvents() {

        var request = gapi.client.calendar.events.list({
          'calendarId': 'taylor-sutcliffe@fsm.northwestern.edu',
          'timeMin': (new Date()).toISOString(),
          'timeMax': (new Date(new Date().getTime() + 48 * 60 * 60 * 1000)).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 100,
          'orderBy': 'startTime'
        });

        request.execute(function(resp) {
          var events = resp.items;
          clearPre();
          appendPre('Upcoming events:');

          if (events.length > 0) {
            for (i = 0; i < events.length; i++) {
              var event = events[i];

              if (event.summary.length > 40) {
                event.summary = event.summary.substring(0, 40) + "...";
              }

              var whenDay = moment(event.start.dateTime).format('ddd');

              var whenStart = moment(event.start.dateTime).format('hh:mma');
              if (!whenStart) {
                appendPre(whenDay + ' ' + event.summary)
              } else {
                var whenEnd = moment(event.end.dateTime).format('hh:mma');
                if (!whenEnd) {
                  whenEnd = event.end.date;
                }
                appendPre(whenDay + '  ' + whenStart + ' - ' + whenEnd + '  ' + event.summary)
              }
            }

          } else {
            appendPre('No upcoming events found.');
          }

        });
      }

      /**
       * Append a pre element to the body containing the given message as its text node.
       */
      function appendPre(message) {
        var pre = document.getElementById('output');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
      }

      function clearPre() {
        document.getElementById('output').innerHTML = "";
      }

    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <!-- Styles and Resources -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="MirrorCtrl as commands">

    <div class="wrapper">
      <div class="top">
        <div class="top-left">

          <!-- Time -->
          <div class="date light-grey">{{date | date : 'EEEE, MMMM d yyyy'}}</div>
          <div class="time">{{date | date : 'hh:mm a'}}</div>

          <!-- Calendar -->
          <div class="calendar">
            <div id="authorize-div" style="display: none">
              <span>Authorize access to Google Calendar</span>
              <button id="authorize-button" onclick="handleAuthClick(event)">
                Authorize
              </button>
            </div>
            <div class="calendar-item">
              <pre class="calendar-item grey" id="output"></pre>
            </div>
          </div>
        </div>

        <!-- Weather -->
        <div class="top-right">
          <div class="weather">
            <div class="weather-today">
              <span class="icon">
                <canvas ng-show="currentForcast.icon == 'clear-day'" id="clear-day" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'clear-night'" id="clear-night" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'partly-cloudy-day'" id="partly-cloudy-day" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'partly-cloudy-night'" id="partly-cloudy-night" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'cloudy'" id="cloudy" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'rain'" id="rain" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'snow'" id="snow" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'fog'" id="fog" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'sleet'" id="sleet" width="80" height="80"></canvas>
                <canvas ng-show="currentForcast.icon == 'wind'" id="wind" width="80" height="80"></canvas>
              </span>
              <span class="tempreture">
                {{currentForcast.temperature}}&deg;
              </span>
            </div>
            <div class="weather-week-descriptor light-grey">{{hourlyForcast.summary}}</div>
              <div class="weather-hour">
                <span class="tempreture light-grey" ng-repeat="forcast in hourlyForcast.data" ng-if="$index < 12 && $index%2 == 0">
                  {{forcast.hour}}
                </span>
              </div>
              <div class="weather-hour">
                <span class="tempreture" ng-repeat="forcast in hourlyForcast.data" ng-if="$index < 12 && $index%2 == 0">
                  {{forcast.temperature}}&deg;
                </span>
              </div>
            <div class="weather-week light-grey"
                <span class="tempreture tempreture-min">Low</span>
                <span class="tempreture tempreture-max">High</span>
            </div>
            <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index < 7">
              <div class="weather-week-day">
                <span class="day light-grey">{{forcast.day}}</span>
                <span class="tempreture tempreture-min">{{forcast.temperatureMin}}&deg;</span>
                <span class="tempreture tempreture-max">{{forcast.temperatureMax}}&deg;</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="push"></div>

    </div>

    <!-- Compliment -->
    <div class="footer">
      <h1>{{complement}}</h1>
    </div> 

    <!-- Sleep cover -->
    <div ng-show="focus == 'sleep'" class="sleep-cover fade"></div>

    <!-- Skycons init -->
    <script src="js/skycons.js"></script>
    <script>
      var icons = new Skycons({"color": "white"}),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;
      for(i = list.length; i--; )
        icons.set(list[i], list[i]);
      icons.play();
    </script>

  </body>
</html>
