<!DOCTYPE html>
<html ng-app="SmartMirror">
  <head>
    <title>Smart Mirror</title>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    
    <!-- App -->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/weather-service.js"></script>
    <script src="js/complement-service.js"></script>
    <script src="js/controller.js"></script>
    <script type="text/javascript">

      var CLIENT_ID = '399836225200-n6mn1qg3ruoj2g4rth2mtva2asli84bt.apps.googleusercontent.com';
      var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       */
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
          loadCalendarApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          authorizeDiv.style.display = 'inline';
        }
      }

      /**
       * Initiate auth flow in response to user clicking authorize button.
       */
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }

      /**
       * Load Google Calendar client library. List upcoming events
       * once client library is loaded.
       */
      function loadCalendarApi() {
        var tickTest = setInterval(listUpcomingEvents, 60 * 1000);
        gapi.client.load('calendar', 'v3', listUpcomingEvents);
      }

      /**
       * Print the summary and start datetime/date of the next 48h events
       */
      function listUpcomingEvents() {

        var date = new Date();
        date.setHours(0);
        date.setMinutes(0);

        var request = gapi.client.calendar.events.list({
          'calendarId': 'taylor-sutcliffe@fsm.northwestern.edu',
          'timeMin': date.toISOString(),
          'timeMax': (new Date(date.getTime() + 48 * 60 * 60 * 1000)).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 100,
          'orderBy': 'startTime'
        });

        request.execute(function(resp) {
          var events = resp.items;
          clearPre();

          if (events.length > 0) {

            var todayEventFound = false;
            var tomorrowEventFound = false;

            // appendPre(1, "Today's events:");
            // appendPre(2, "Tomorrow's events:");

            for (i = 0; i < events.length; i++) {
              var event = events[i];

              if (event.summary.length > 40) {
                event.summary = event.summary.substring(0, 40) + "...";
              }

              var whenDay = moment(event.start.dateTime).format('ddd');
              var whenStart = moment(event.start.dateTime).format('hh:mma');

              if (whenDay === moment(new Date()).format('ddd')) {
                todayEventFound = true;

                if (!whenStart) {
                  appendPre(1, whenDay + ' ' + event.summary)
                } else {
                  var whenEnd = moment(event.end.dateTime).format('hh:mma');
                  if (!whenEnd) {
                    whenEnd = event.end.date;
                  }

                  if ( (new Date(event.end.dateTime)).getTime() > (new Date()).getTime()) {
                    appendPre(1, whenDay + '\t' + whenStart + ' - ' + whenEnd + '  ' + event.summary)
                  } else {
                    appendPre(3, whenDay + '\t' + whenStart + ' - ' + whenEnd + '  ' + event.summary)
                  }
                }
              } else {
                tomorrowEventFound = true;

                if (!whenStart) {
                  appendPre(2, whenDay + ' ' + event.summary)
                } else {
                  var whenEnd = moment(event.end.dateTime).format('hh:mma');
                  if (!whenEnd) {
                    whenEnd = event.end.date;
                  }
                  appendPre(2, whenDay + '\t' + whenStart + ' - ' + whenEnd + '  ' + event.summary)
                }
              }
            }

            if ( !todayEventFound ) {
              appendPre(1, "No events found for today.");
            }

            if ( !tomorrowEventFound ) {
              appendPre(2, "No events found for tomorrow.");
            }

          }

        });
      }

      /**
       * Append a pre element to the body containing the given message as its text node.
       */
      function appendPre(index, message) {

        if (index === 1) {
          var pre = document.getElementById('output1');
          var textContent = document.createTextNode(message + '\n');
          pre.appendChild(textContent);
        } else if (index === 2) {
          var pre = document.getElementById('output2');
          var textContent = document.createTextNode(message + '\n');
          pre.appendChild(textContent);
        } else if (index === 3) {
          var pre = document.getElementById('output3');
          var textContent = document.createTextNode(message + '\n');
          pre.appendChild(textContent);
        }

      }

      function clearPre() {
        document.getElementById('output1').innerHTML = "";
        document.getElementById('output2').innerHTML = "";
        document.getElementById('output3').innerHTML = "";
      }

    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <!-- Styles and Resources -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="MirrorCtrl as commands" scroll="no" style="overflow: hidden">

    <div class="wrapper">
      <div class="top">
        <div class="top-left">

          <!-- Time -->
          <div class="date light-grey">{{date | date : 'EEEE, MMMM d yyyy'}}</div>
          <div class="time">{{date | date : 'hh:mm a'}}</div>

          <!-- Calendar -->
          <div class="calendar">
            <div id="authorize-div" style="display: none">
              <span>Authorize access to Google Calendar</span>
              <button id="authorize-button" onclick="handleAuthClick(event)">
                Authorize
              </button>
            </div>
            <div class="calendar-item">
              Today's Events:
              <pre class="calendar-item grey" id="output3" style="margin: 0;"></pre>
              <pre class="calendar-item" id="output1"></pre>
              <br>
              <span class="light-grey">Tomorrow's Events:</span>
              <pre class="calendar-item light-grey" id="output2"></pre>
            </div>
          </div>
        </div>

        <!-- Weather -->
        <div class="top-right">
          <div class="weather">
            <div class="weather-today">
              <span class="icon">
                <canvas ng-show="currentForcast.icon == 'clear-day'" id="clear-day" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'clear-night'" id="clear-night" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'partly-cloudy-day'" id="partly-cloudy-day" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'partly-cloudy-night'" id="partly-cloudy-night" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'cloudy'" id="cloudy" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'rain'" id="rain" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'snow'" id="snow" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'fog'" id="fog" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'sleet'" id="sleet" width="60" height="60"></canvas>
                <canvas ng-show="currentForcast.icon == 'wind'" id="wind" width="60" height="60"></canvas>
              </span>
              <span class="tempreture">
                {{currentForcast.temperature}}&deg;
              </span>
            </div>
            <div class="weather-week-descriptor light-grey">{{hourlyForcast.summary}}</div>
              <div class="weather-hour">
                <span class="tempreture light-grey" ng-repeat="forcast in hourlyForcast.data" ng-if="$index < 12 && $index%2 == 0">
                  {{forcast.hour}}
                </span>
              </div>
              <div class="weather-hour">
                <span class="tempreture" ng-repeat="forcast in hourlyForcast.data" ng-if="$index < 12 && $index%2 == 0">
                  {{forcast.temperature}}&deg;
                </span>
              </div>
            <div class="weather-week light-grey"
                <span class="tempreture tempreture-min">Low</span>
                <span class="tempreture tempreture-max">High</span>
            </div>
            <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index < 7">
              <div class="weather-week-day">
                <span class="day light-grey">{{forcast.day}}</span>
                <span class="tempreture tempreture-min">{{forcast.temperatureMin}}&deg;</span>
                <span class="tempreture tempreture-max">{{forcast.temperatureMax}}&deg;</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="push"></div>

    </div>

    <!-- Compliment -->
    <div class="footer">
      <h1>{{complement}}</h1>
    </div> 

    <!-- Sleep cover -->
    <div ng-show="focus == 'sleep'" class="sleep-cover fade"></div>

    <!-- Skycons init -->
    <script src="js/skycons.js"></script>
    <script>
      var icons = new Skycons({
                     "monochrome": false,
                     "colors" : {
                       "main" : "#FFFFFF",
                       "moon" : "#FFFFFF",
                       "fog" : "#C0C0C0",
                       "cloud" : "#F0F0F0",
                       "snow" : "#FFFFFF",
                       "leaf" : "#32CD32",
                       "rain" : "#6495ED",
                       "sun" : "#FFD700"
                     }}),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;
      for(i = list.length; i--; )
        icons.set(list[i], list[i]);
      icons.play();
    </script>

  </body>
</html>
